* {
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

html {
  overflow-x: hidden;
}

body {
  left: 0;
  margin: 0;
  padding: 0;
  height: 3000px;
  width: 100vw;
  overflow-x: hidden;
  background-color: #2c82c9;
  background-image: url(../pics/noise.png);
}

.bg_comp {
  display: inline-block;
  height: 1050px;
  padding: 0;
  margin: 90px auto 0;
  right: 0;
  left: 0;
  position: absolute;
  z-index: 0;
}

.bi_comp {
  width: 100%;
  height: 800px;
  background-size: cover;
  background-color: pink !important;
}

.footer {
  position: absolute;
  height: 300px;
  width: 100vw;
  bottom: 0;
  background-color: #1e1d1a;
}

.presentation {
  display: block;
  margin: 50px auto 0;
  text-align: center;
  color: #ecf0f1;
  z-index: 1;
}
.presentation p {
  width: 50vw;
  font-size: 1.5em;
  font-family: "Open Sans";
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}
.presentation p .h2 {
  text-transform: uppercase;
  font-family: "Poiret One";
  font-size: 2em;
  color: #ecf0f1;
  font-weight: bolder;
}
.presentation h1 {
  padding: 20px auto;
  text-transform: uppercase;
  font-family: "Poiret One";
  font-size: 4em;
  color: #1e1d1a;
  font-weight: bold;
}

header {
  padding: 0 10px;
  margin: 0;
  top: 0;
  width: 100%;
  height: 7vw;
  background: #ecf0f1;
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  transition: all 0.6s ease-in-out;
  position: fixed;
  z-index: 10;
}
header nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
header nav .logo {
  height: 6vw;
  width: 6vw;
  padding: 0 15px;
  order: 4;
}
header nav a:link, header nav a:visited {
  text-decoration: none;
  color: rgba(35, 34, 31, 0.5);
  font-weight: bold;
}
header nav [class^="link_"] {
  font-size: 17pt;
  list-style: none;
  padding: 0 20px;
  height: 100%;
  box-sizing: border-box;
}
header nav [class^="link_"] a {
  display: block;
  height: 100%;
  box-sizing: border-box;
}
header nav [class^="link_"] a section {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
header nav [class^="link_"] a:hover, header nav [class^="link_"] a:active, header nav [class^="link_"] a:focus {
  transition: all 100ms ease-in-out;
  color: #23221f;
}
header nav [class^="link_"].link_accueil {
  order: 1;
}
header nav [class^="link_"].link_presentation {
  order: 2;
}
header nav [class^="link_"].link_equipe {
  order: 3;
}
header nav [class^="link_"].link_services {
  order: 5;
}
header nav [class^="link_"].link_clients {
  order: 6;
}
header nav [class^="link_"].link_contact {
  order: 7;
}
header nav hr {
  display: none;
  color: #ecf0f1;
  width: 180px;
  margin: 1px auto;
}
header nav .icon-close {
  display: none;
}

#monter {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
}
#monter a img {
  width: 70px;
  height: auto;
  opacity: 0.7;
}
#monter a img:hover {
  opacity: 1;
}

.logo2 {
  height: 3vw;
  width: 3vw;
  min-width: 40px;
  min-height: 40px;
  padding: 0 15px;
  order: 4;
}

.small {
  font-size: 11pt !important;
  font-weight: 900;
}

.head2 {
  padding: 0 10px;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 4vw;
  min-height: 55px;
  background: rgba(221, 228, 230, 0.9);
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  transition: all 0.3s linear 0s;
  position: fixed;
  z-index: 11;
}
.head2 [class^="link_"] {
  font-size: 17pt;
  list-style: none;
  padding: 0 20px;
  height: 100%;
  box-sizing: border-box;
}
.head2 [class^="link_"] a {
  display: block;
  height: 100%;
  box-sizing: border-box;
}
.head2 [class^="link_"] a section {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
.head2 [class^="link_"] a:hover, .head2 [class^="link_"] a:active, .head2 [class^="link_"] a:focus {
  border-bottom: 4px solid #23221f;
  border-top: 4px solid transparent;
  color: #23221f;
  transition: all 100ms ease;
}

.icon-menu {
  display: none;
}
